rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {

        match /users/{userId} {
            allow read: if isSignedIn();
            allow update, delete: if hasAnyRole(['admin']);
        }

        match /posts/{postId} {
            allow read: if (isSignedIn() && resource.data.published == true) || hasAnyRole(['admin']);
            allow create: if isValidNewPost() && hasAnyRole(['author']);
            allow update: if isValidUpdatedPost() && hasAnyRole(['author', 'editor', 'admin']);
            allow delete: if hasAnyRole(['admin']);
        }

        // Function to check if the user is signed in
        function isSignedIn() {
            return request.auth != null;
        }

        // Function to check if the user has any of the specified roles
        function hasAnyRole(roles) {
            return isSignedIn() &&
                get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles.hasAny(roles);
        }

        // Function to validate a new post creation
        function isValidNewPost() {
            let post = request.resource.data;
            let isOwner = post.uid == request.auth.uid;
            let isNow = request.time == post.createdAt;
            let hasRequiredFields = post.keys().hasAll(['content', 'uid', 'createdAt', 'published']);

            return isOwner && hasRequiredFields && isNow;
        }

        // Function to validate an updated post
        function isValidUpdatedPost() {
            let post = request.resource.data;
            let hasRequiredFields = post.keys().hasAny(['content', 'updatedAt', 'published']);
            let isValidContent = post.content is string && post.content.size() < 5000;

            return hasRequiredFields && isValidContent;
        }

    }
}
